services:
    app:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: laravel-app
        restart: unless-stopped
        working_dir: /var/www
        environment:
            - PHP_IDE_CONFIG=serverName=localhost
        volumes:
            - ./:/var/www
            - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
            - ./docker/php/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
        networks:
            - laravel
        depends_on:
            - postgres
            - redis

    webserver:
        image: nginx:alpine
        container_name: laravel-nginx
        restart: unless-stopped
        ports:
            - "8000:80"
            - "8443:443"
        volumes:
            - ./:/var/www
            - ./docker/nginx/conf.d:/etc/nginx/conf.d
        networks:
            - laravel
        depends_on:
            - app

    postgres:
        image: postgres:17-alpine
        container_name: laravel-postgres
        restart: unless-stopped
        ports:
            - "5432:5432"
        environment:
            POSTGRES_DB: ${DB_DATABASE:-laravel}
            POSTGRES_USER: ${DB_USERNAME:-laravel}
            POSTGRES_PASSWORD: ${DB_PASSWORD:-secret}
        volumes:
            - postgres-data:/var/lib/postgresql/data
        networks:
            - laravel

    redis:
        image: redis:7-alpine
        container_name: laravel-redis
        restart: unless-stopped
        ports:
            - "6379:6379"
        volumes:
            - redis-data:/data
        networks:
            - laravel
        command: redis-server --appendonly yes --replica-read-only no

    queue:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: laravel-queue
        restart: unless-stopped
        working_dir: /var/www
        command: php artisan queue:work --sleep=3 --tries=3 --max-time=3600
        volumes:
            - ./:/var/www
            - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
#            - ./docker/php/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
        networks:
            - laravel
        depends_on:
            - app
            - postgres
            - redis

    scheduler:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: laravel-scheduler
        restart: unless-stopped
        working_dir: /var/www
        command: /bin/sh -c "while [ true ]; do php artisan schedule:run --verbose --no-interaction & sleep 60; done"
        volumes:
            - ./:/var/www
            - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
#            - ./docker/php/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
        networks:
            - laravel
        depends_on:
            - app
            - postgres
            - redis

networks:
    laravel:
        driver: bridge

volumes:
    postgres-data:
        driver: local
    redis-data:
        driver: local
